<!DOCTYPE html>

<html>

<head>

    <title>Customer Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

</head>

<body>

<div class="main-content">

    <!-- TOPBAR -->

    <div class="topbar">

        <div>

            <h1>
                Welcome Back,
            </h1>

            <h2>
                {{ customer_name }}
            </h2>

        </div>

        <a href="/logout"
           class="logout-btn">

            Logout

        </a>

    </div>

    <!-- KPI -->

    <div class="kpi-grid">

        <div class="card">

            <h3>Total Amount Spent</h3>

            <p>
                BND {{ total_spent }}
            </p>

        </div>

        <div class="card">

            <h3>Average Ride Cost</h3>

            <p>
                BND {{ avg_ride_cost }}
            </p>

        </div>

        <div class="card">

            <h3>Average Waiting Time</h3>

            <p>
                {{ avg_wait }} mins
            </p>

        </div>

    </div>

    <!-- CHARTS -->

    <div class="chart-grid">

        <div class="chart-box full-width">

            {{ peak_chart | safe }}

        </div>

    </div>

</div>

</body>

</html>
