<!DOCTYPE html>

<html>

<head>

    <title>Driver Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="main-content">

    <!-- TOPBAR -->

    <div class="topbar">

        <div>

            <h1>
                Welcome Back,
            </h1>

            <h2>
                {{ driver_name }}
            </h2>

        </div>

        <a href="/logout"
           class="logout-btn">

            Logout

        </a>

    </div>

    <!-- KPI -->

    <div class="kpi-grid">

        <div class="card">

            <h3>Total Earnings</h3>

            <p>
                BND {{ total_earnings }}
            </p>

        </div>

        <div class="card">

            <h3>Driver Rating</h3>

            <p>
                {{ driver_rating }}
            </p>

        </div>

        <div class="card">

            <h3>Acceptance Rate</h3>

            <p>
                {{ acceptance_rate }}%
            </p>

        </div>

        <div class="card">

            <h3>Driver Cancellation Rate</h3>

            <p>
                {{ cancel_rate }}%
            </p>

        </div>

    </div>

    <!-- METRICS -->

<div class="chart-grid two-column">

    <div class="chart-box">

        {{ distance_chart | safe }}

    </div>

    <div class="chart-box">

        {{ trip_chart | safe }}

    </div>

</div>
</div>

</body>

</html>
